#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: #06a055 50%;
  align-items: center;
  justify-content: center;
}

#chatbot-toggler span {
    position: absolute;
    color: #fff;
}

